# Yarn 2 without zero-installs
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*

.DS_Store
node_modules
.idea
/*.iml
/*.log
dist
build
deploy
.vscode
