html, body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

.section {
    padding-bottom: 0.3em;
    margin: 1.5em 0;
}

@media (max-width: 60em) {
    .fullsize {
        display: none !important;
    }    
}

@media (min-width: 60em) {
    .section-half-size {
        width: 29em;
        display: inline-block;
        vertical-align: top;
        margin-left: 1em;
        margin-right: 1em;
    }
    .section-half-size:first-of-type {
        margin-left: 0;
    }
    .section-half-size:last-of-type {
        margin-right: 0;
    }
}
