.hidden {
    display: none;
}

.site-content {
    width: 60em;
    margin: auto;
    margin-top: 4em;
}

.site-content > .panel {
    padding-bottom: 0.3em;
    margin: 1.5em 0;
}

.item {
    margin: 0.2em 0.75em;
    display: flex;
    align-self: baseline;
}

.item > .name {
    width: 13em;
    padding-top: 0.4em;
}

.item > .value {
    flex-grow: 1;
    white-space: nowrap;
    display: inline-flex;
    width: auto;
    flex-wrap: nowrap;
    align-self: baseline;
}

.item > .value > input,
.item > .value > textarea {
    margin: 0.1em 0.3em;
}

.item > .name > input[type=radio] {
    margin-right: 0.5em;
}

.item > .name > .tools {
    float: right;
    text-align: right;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.tool-icon {
    padding: 0 0.4em;
    font-size: 0.9em;
}
.tool-icon:active {
    background: #b6c4e0;
}

input.letter { width: 2em; }
input.narrow { width: 7em; }
input.medium { width: 10em; }
input.wide { width: auto; flex-grow: 1;  }

textarea.large { width: auto; flex-grow: 1; min-height: 5em;}

h1 {
    background: #00bcd4;
    margin: 0;
    padding: 0.3em 0.75em;
    color: white;
    border-radius: 0.3em;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

@media (max-width: 65em) {
    .site-content {
        width: auto;
        margin: 2em;
        margin-top: 4em;
    }
    input.wide { width: 20em; }
}
