html, body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

.hidden {
    display: none;
}

.everything {
    position: relative;
}

.topbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.main-content {
    z-index: 0;
}


.main-content {
    max-width: 60em;
    margin: 56px auto auto;
    padding-top: 1px;
}

.section {
    padding-bottom: 0.3em;
    margin: 1.5em 0;
}


.item {
    margin: 0.2em 0.75em;
    display: flex;
    align-self: baseline;
}

.item > .name {
    width: 8em;
    padding-top: 1em;
}

.item > .value {
    flex-grow: 1;
    align-self: baseline;
    white-space: nowrap;
    display: inline-flex;
    width: auto;
    flex-wrap: nowrap;
}

.item.multiline > .value {
    white-space: normal;
    display: inherit;
    width: auto;
    flex-wrap: inherit;
}

@media (min-width: 60em) {
    .section-half-size {
        width: 29em;
        display: inline-block;
        vertical-align: top;
        margin-left: 1em;
        margin-right: 1em;
    }
    .section-half-size:first-of-type {
        margin-left: 0;
    }
    .section-half-size:last-of-type {
        margin-right: 0;
    }
}
